* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #fff url(imagens/fundo.png) repeat-x;
}

#container {
    width: 900px;
    margin: 0 13em;
    height: max-content;
}

/* Cabeçalho
*/
header {
    width: 900px;
    height: 200px;
    background: url(imagens/detalhe-topo.png) no-repeat right;
    background-size: 12em;
    background-position-x: 700px;
}

header p {
    position: absolute;
    text-indent: -1000px;
}

header .logo{
    margin: 20px 0;
    width: auto;
    height: auto;
    float: left;
}

/* Navegação do cabeçalho
*/

#navegacao-menu ul{
    border: 3px solid rgb(77, 7, 28);
    width: auto;
    float: left;
    list-style: none;
    margin: 7px 8px;
    clear: both;
}

#navegacao-menu ul li{
    float: left;
}

#navegacao-menu ul a{
    background: rgb(160, 0, 45);
    padding: 0 1.6em;
    display: block;
    line-height: 3em;
    color: white;
    text-decoration: none;
}

.home #navegacao-menu ul li a.home,
.brasil #navegacao-menu ul li a.brasil ,
.internacional #navegacao-menu ul li a.internacional,
.economia #navegacao-menu ul li a.economia,
.saude #navegacao-menu ul li a.saude,
.ciencia #navegacao-menu ul li a.ciencia,
.fotos #navegacao-menu ul li a.fotos,
#navegacao-menu ul li a:hover{
    background: rgb(211, 0, 60);
}

#navegacao-menu ul li a:active {
    background: rgb(77, 7, 28);
    color: white;
}

/* Conteúdo principal
*/

main {
    margin-top: 30px;
    height: 700px;
}

#titulos {
    width: auto;
    margin: 7px 8px;
    padding-left: 4px;
    color: white;
    background: rgb(43, 74, 109);
    border-radius: 2px;
}

main div#coluna-1 {
    width: 250px;
    height: auto;
    float: left;
}

/* Navegação das entrevistas
*/

#entrevistas {
    width: 248px;
    margin: 20px 0;
    margin-bottom: 1px;
    padding-bottom: 8px;
    float: left;
    background-image: url(imagens/fundo-caixa.png);
}

#navegacao-entrevistas ul{
    list-style: none;
}

#navegacao-entrevistas ul a {
    float: left;
    text-decoration: none;
    margin: 0 8px;
    padding: 15px;
    width: 204px;
    background: white;
    color: black;
    font-size: large;
    border-radius: 2px;
}

#navegacao-entrevistas ul a:hover {
    background: rgb(230, 222, 222) url(imagens/marcador.png) no-repeat left center;
    text-indent: 10px;
}

#news {
    width: 248px;
    margin: 20px 0;
    float: left;
    background-image: url(imagens/fundo-caixa.png);
}

#fundo-branco {
    background: #fff;
}

#news #fundo-branco {
    width: 204px;
    padding: 15px;
    margin: 4px;
}

#news input{
    width: 95%;
    height: 40px;
}

#news .botao {
    background-color: rgb(160, 0, 45);
    color: #fff;
    width: 100px;
    height: 40px;
    font-size: large;
    position: relative;
    border: none;
    border-radius: 10px;
    top: 4px;
}

#news .botao:hover {
    background-color: rgb(211, 0, 60);
    cursor: pointer;
}

#coluna-2 {
    width: 645px;
    height: auto;
    display: block;
    font-size: 13px;
    line-height: 30px;
    float: left;
}

#postagens {
    height: 374px;
    width: 290px;
    float: left;
    margin: 10px 12px;
    background-image: url(imagens/fundo-caixa.png);
}

#postagens:nth-child(1),
#postagens:nth-child(2){
    margin: 20px 12px;
}

#conteudo,
#conteudo-menu {
    background: white;
    width: auto;
    margin: 7px 8px;
    padding-left: 4px;
}

#subtitulo {
    width: max-content;
    padding: 0 4px;
    margin: 10px 0;
    background-color: rgb(160, 0, 45);
    color: #fff;
}

#conteudo img {
    width: 98%;
}

#conteudo p{
    font-size: 16px;
}

#conteudo a {
    font-size: 16px;
    color: rgb(160, 0, 45);
}

#conteudo a:hover {
    color: rgb(27, 21, 23);
}

#conteudo a:active {
    color: rgb(43, 74, 109);
}

#postagenzinha {
    height: 80px;
}

#conteudo-menu img{
    position: relative;
    top: 4px;
    width: 38%;
    margin-top: 3px;
    margin-left: 5px;
    float: left;
}

#postagenzinha-texto {
    padding-left: 4px;
    float: left;
    font-size: 12px;
    width: 150px;
}

#postagenzinha-texto p{
    font-size: 11px;
    width: 150px;
    letter-spacing: 0;
    word-spacing: 1px;
    font-weight: 900;
    line-height: 14px;
}

#conteudo-menu hr {
    margin-left: 1px;
    width: 98%;
}

#conteudo-menu #postagenzinha-texto a {
    font-size: 11px;
    font-weight: 900;
    text-decoration: none;
    color: rgb(30, 49, 71);
}

#conteudo-menu #postagenzinha-texto a:hover {
    color: rgb(91, 121, 155);
}

#rodape {
    clear: both;
    height: 70px;
    color: #fff;
    background: rgb(43, 74, 109);
}

#rodape p {
    padding-left: 220px;
    padding-top: 25px;
}